# get coors

In [38]:
import os
import pandas as pd
import numpy as np
dataroot = 'C:/Users/lezhi/Dropbox/thesis/data/'
rootdir = 'C:/Users/lezhi/Dropbox/thesis/img_dense/'

In [39]:
df = pd.DataFrame()

citynames = sorted([d for d in os.listdir(rootdir) if os.path.isdir(rootdir)])
for cityname in citynames[1:2]:    ############################################# only testing 3 cities now
    citypath = os.path.join(rootdir, cityname)
    imgnames = sorted([f[:-4] for f in os.listdir(citypath) if os.path.isfile(os.path.join(citypath, f))])

    lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])

    df1 = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
    df1['city'] = cityname
    df = df.append(df1, ignore_index=True)

df.to_csv(dataroot+'coor_dense_newyork'+'.csv')

In [40]:
df.head()

           lat           lng dir     city
0  40.68506968   -73.9612494   0  newyork
1  40.68506968   -73.9612494   1  newyork
2  40.68506968   -73.9612494   2  newyork
3  40.68506968   -73.9612494   3  newyork
4  40.68511284  -73.97047684   0  newyork

# calculate whether request is incomplete

In [45]:
a = df.drop_duplicates(['lat','lng'])
b = pd.read_csv(dataroot+'request_newyork.csv').astype(str)

In [41]:
c = pd.merge(b, a, how='left', on=['lat','lng'])
c[pd.isnull(c['city'])].loc[9000:]

# merge labels

In [46]:
labelsdf = pd.read_csv(dataroot+'request_newyork.csv').astype(str)
b = pd.merge(df, labelsdf[['lat','lng','label']], on=['lat','lng'])
b['filename'] = b.apply(lambda x: x['city']+'/'+x['lat']+','+x['lng']+'_'+x['dir']+'.png', axis=1)
b.head()

,lat,lng,dir,city,label,filename
0,40.68506968,-73.9612494,0,newyork,Fort Green,"newyork/40.68506968,-73.9612494_0.png"
1,40.68506968,-73.9612494,1,newyork,Fort Green,"newyork/40.68506968,-73.9612494_1.png"
2,40.68506968,-73.9612494,2,newyork,Fort Green,"newyork/40.68506968,-73.9612494_2.png"
3,40.68506968,-73.9612494,3,newyork,Fort Green,"newyork/40.68506968,-73.9612494_3.png"
4,40.68511284,-73.97047684,0,newyork,Fort Green,"newyork/40.68511284,-73.97047684_0.png"

In [48]:
b.to_csv(dataroot+'labels_dense_newyork.csv')

### remove very small classes

#### number of image in each class

In [49]:
b.groupby('label').size()

label
Astoria-Long Island City    900
Battery Park                796
Bedford-Stuyvesant          916
Boerum Hill                 862
Bushwick                    996
Carnegie Hill               880
Central Park                884
Chelsea                     743
Chinatown                   902
Clinton                     812
Downtown                    899
East Harlem                 919
East Village                762
Financial District          820
Fort Green                  892
Garment District            778
Gramercy                    785
Greenwich Village           787
Harlem                      960
Jackson Heights             970
Little Italy                758
Lower East Side             796
Maspeth                     744
Midtown                     793
Morningside Heights         831
Murray Hill                 824
North Sutton Area           808
Ridgewood                   884
Soho                        806
Steinway                     12
Sunny Side                  763
The Heights                 916
The Waterfront              623
Tribeca                     819
Upper East Side             900
Upper West Side             848
West Village                852
Williamsburg                765
Woodside                    802
Yorkville                   928
dtype: int64

In [56]:
b_filtered = b[map(lambda ele: (ele!='Steinway'), b['label'])]

In [57]:
b_filtered = b_filtered.reset_index()
del b_filtered['index']
b_filtered.to_csv(dataroot+'labels_dense_singapore.csv')

#### number of classes

In [58]:
len(b_filtered['label'].unique())

39

### below are trials to get coors

In [12]:
imgnames[578].replace('_',',').split(',')

['35.638226', '139.771862328', '2']

In [17]:
lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])
lat_lng_dir

array([['35.630726', '139.747854768', '0'],
       ['35.630726', '139.747854768', '1'],
       ['35.630726', '139.747854768', '2'],
       ...,
       ['35.737226', '139.766322122', '1'],
       ['35.737226', '139.766322122', '2'],
       ['35.737226', '139.766322122', '3']],
      dtype='|S13')

In [21]:
df = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
df['city'] = 'boston'
df.head()

         lat            lng dir    city
0  35.630726  139.747854768   0  boston
1  35.630726  139.747854768   1  boston
2  35.630726  139.747854768   2  boston
3  35.630726  139.747854768   3  boston
4  35.630726  139.749701504   0  boston

In [20]:
df.to_csv('C:/Users/lezhi/Dropbox/thesis/'+'cityname'+'.csv')