# get coors

In [2]:
import os
import pandas as pd
import numpy as np
dataroot = 'C:/Users/lezhi/Dropbox/thesis/data/'

In [4]:
rootdir = 'C:/Users/lezhi/Dropbox/thesis/img_dense/'
df = pd.DataFrame()

citynames = sorted([d for d in os.listdir(rootdir) if os.path.isdir(rootdir)])
for cityname in citynames[1:]:    ############################################# only testing 3 cities now
    citypath = os.path.join(rootdir, cityname)
    imgnames = sorted([f[:-4] for f in os.listdir(citypath) if os.path.isfile(os.path.join(citypath, f))])

    lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])

    df1 = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
    df1['city'] = cityname
    df = df.append(df1, ignore_index=True)

df.to_csv(dataroot+'dense_coor_singapore'+'.csv')

In [5]:
df.head()

           lat          lng dir       city
0  1.249458593  103.8272394   0  singapore
1  1.249458593  103.8272394   1  singapore
2  1.249458593  103.8272394   2  singapore
3  1.249458593  103.8272394   3  singapore
4  1.249767326   103.826907   0  singapore

# merge labels

In [6]:
labelsdf = pd.read_csv(dataroot+'request_singapore.csv').astype(str)
b = pd.merge(df, labelsdf[['lat','lng','label']], on=['lat','lng'])
b['filename'] = b.apply(lambda x: x['city']+'/'+x['lat']+','+x['lng']+'_'+x['dir']+'.png', axis=1)
b.head()

,lat,lng,dir,city,label,filename
0,1.249458593,103.8272394,0,singapore,Southern Islands,"singapore/1.249458593,103.8272394_0.png"
1,1.249458593,103.8272394,1,singapore,Southern Islands,"singapore/1.249458593,103.8272394_1.png"
2,1.249458593,103.8272394,2,singapore,Southern Islands,"singapore/1.249458593,103.8272394_2.png"
3,1.249458593,103.8272394,3,singapore,Southern Islands,"singapore/1.249458593,103.8272394_3.png"
4,1.249767326,103.826907,0,singapore,Southern Islands,"singapore/1.249767326,103.826907_0.png"

In [7]:
b.to_csv(dataroot+'labels_dense_singapore.csv')

### remove very small classes

In [12]:
b_filtered = b[map(lambda ele: (ele!='Central Water Catchment' and ele!='Marina East'), b['label'])]

In [19]:
b_filtered = b_filtered.reset_index()
del b_filtered['index']
b_filtered.to_csv(dataroot+'labels_dense_singapore.csv')

#### number of classes

In [13]:
len(b['label'].unique())

40

#### number of image in each class

In [8]:
b.groupby('label').size()

label
Bishan                     793
Bukit Merah                552
Bukit Timah                688
Central Water Catchment    184
Downtown Core              752
Geylang                    758
Marina East                259
Marina South               739
Museum                     748
Newton                     596
Novena                     692
Orchard                    596
Outram                     620
Queenstown                 592
River Valley               668
Rochor                     864
Sallang                    631
Singapore River            667
Southern Islands           512
Straits View               509
Tanglin                    592
Toa Payoh                  688
dtype: int64

### below are trials to get coors

In [12]:
imgnames[578].replace('_',',').split(',')

['35.638226', '139.771862328', '2']

In [17]:
lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])
lat_lng_dir

array([['35.630726', '139.747854768', '0'],
       ['35.630726', '139.747854768', '1'],
       ['35.630726', '139.747854768', '2'],
       ...,
       ['35.737226', '139.766322122', '1'],
       ['35.737226', '139.766322122', '2'],
       ['35.737226', '139.766322122', '3']],
      dtype='|S13')

In [21]:
df = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
df['city'] = 'boston'
df.head()

         lat            lng dir    city
0  35.630726  139.747854768   0  boston
1  35.630726  139.747854768   1  boston
2  35.630726  139.747854768   2  boston
3  35.630726  139.747854768   3  boston
4  35.630726  139.749701504   0  boston

In [20]:
df.to_csv('C:/Users/lezhi/Dropbox/thesis/'+'cityname'+'.csv')