# get coors

In [2]:
import os
import pandas as pd
import numpy as np
dataroot = 'C:/Users/lezhi/Dropbox/thesis/data/'

In [3]:
rootdir = 'C:/Users/lezhi/Dropbox/thesis/img_dense/'
df = pd.DataFrame()

citynames = sorted([d for d in os.listdir(rootdir) if os.path.isdir(rootdir)])
for cityname in citynames:    ############################################# only testing 3 cities now
    citypath = os.path.join(rootdir, cityname)
    imgnames = sorted([f[:-4] for f in os.listdir(citypath) if os.path.isfile(os.path.join(citypath, f))])

    lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])

    df1 = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
    df1['city'] = cityname
    df = df.append(df1, ignore_index=True)

df.to_csv(dataroot+'allcoorsdense'+'.csv')

In [4]:
df.head()

           lat           lng dir    city
0  42.29923127  -71.07993968   0  boston
1  42.29923127  -71.07993968   1  boston
2  42.29923127  -71.07993968   2  boston
3  42.29923127  -71.07993968   3  boston
4  42.29999973  -71.08272406   0  boston

# merge labels

In [9]:
labelsdf = pd.read_csv(dataroot+'coordinates_for_request.csv').astype(str)
b = pd.merge(df, labelsdf[['lat','lng','label']], on=['lat','lng'])
b['filename'] = b.apply(lambda x: x['city']+'/'+x['lat']+','+x['lng']+'_'+x['dir']+'.png', axis=1)
b.head()

,lat,lng,dir,city,label,filename
0,42.29923127,-71.07993968,0,boston,Dorchester,"boston/42.29923127,-71.07993968_0.png"
1,42.29923127,-71.07993968,1,boston,Dorchester,"boston/42.29923127,-71.07993968_1.png"
2,42.29923127,-71.07993968,2,boston,Dorchester,"boston/42.29923127,-71.07993968_2.png"
3,42.29923127,-71.07993968,3,boston,Dorchester,"boston/42.29923127,-71.07993968_3.png"
4,42.29999973,-71.08272406,0,boston,Dorchester,"boston/42.29999973,-71.08272406_0.png"

In [12]:
b.to_csv(dataroot+'bos_dense_labels.csv')

#### number of classes

In [13]:
len(b['label'].unique())

40

### below are trials to get coors

In [12]:
imgnames[578].replace('_',',').split(',')

['35.638226', '139.771862328', '2']

In [17]:
lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])
lat_lng_dir

array([['35.630726', '139.747854768', '0'],
       ['35.630726', '139.747854768', '1'],
       ['35.630726', '139.747854768', '2'],
       ...,
       ['35.737226', '139.766322122', '1'],
       ['35.737226', '139.766322122', '2'],
       ['35.737226', '139.766322122', '3']],
      dtype='|S13')

In [21]:
df = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
df['city'] = 'boston'
df.head()

         lat            lng dir    city
0  35.630726  139.747854768   0  boston
1  35.630726  139.747854768   1  boston
2  35.630726  139.747854768   2  boston
3  35.630726  139.747854768   3  boston
4  35.630726  139.749701504   0  boston

In [20]:
df.to_csv('C:/Users/lezhi/Dropbox/thesis/'+'cityname'+'.csv')