# get coors

In [2]:
import os
import pandas as pd
import numpy as np
dataroot = 'C:/Users/lezhi/Dropbox/thesis/data/'
rootdir = 'C:/Users/lezhi/Dropbox/thesis/img_dense/'

In [19]:
df = pd.DataFrame()

citynames = sorted([d for d in os.listdir(rootdir) if os.path.isdir(rootdir)])
for cityname in citynames[4:5]:    ############################################# only testing 3 cities now
    citypath = os.path.join(rootdir, cityname)
    imgnames = sorted([f[:-4] for f in os.listdir(citypath) if os.path.isfile(os.path.join(citypath, f))])

    lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])

    df1 = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
    df1['city'] = cityname
    df = df.append(df1, ignore_index=True)

df.to_csv(dataroot+'coor_dense_sanfrancisco'+'.csv')

In [20]:
df.head()

           lat           lng dir          city
0  37.71359193  -122.4412364   0  sanfrancisco
1  37.71359193  -122.4412364   1  sanfrancisco
2  37.71359193  -122.4412364   2  sanfrancisco
3  37.71359193  -122.4412364   3  sanfrancisco
4  37.71359359  -122.4436024   0  sanfrancisco

# calculate whether request is incomplete

In [5]:
a = df.drop_duplicates(['lat','lng'])
b = pd.read_csv(dataroot+'request_sanfrancisco.csv').astype(str)

In [15]:
c = pd.merge(b, a, how='left', on=['lat','lng'])
c[pd.isnull(c['city'])]

Empty DataFrame
Columns: [label, lat, lng, dir, city]
Index: []

# merge labels

In [21]:
labelsdf = pd.read_csv(dataroot+'request_sanfrancisco.csv').astype(str)
b = pd.merge(df, labelsdf[['lat','lng','label']], on=['lat','lng'])
b['filename'] = b.apply(lambda x: x['city']+'/'+x['lat']+','+x['lng']+'_'+x['dir']+'.jpg', axis=1)
b.head()

,lat,lng,dir,city,label,filename
0,37.71359193,-122.4412364,0,sanfrancisco,Crocker Amazon,"sanfrancisco/37.71359193,-122.4412364_0.jpg"
1,37.71359193,-122.4412364,1,sanfrancisco,Crocker Amazon,"sanfrancisco/37.71359193,-122.4412364_1.jpg"
2,37.71359193,-122.4412364,2,sanfrancisco,Crocker Amazon,"sanfrancisco/37.71359193,-122.4412364_2.jpg"
3,37.71359193,-122.4412364,3,sanfrancisco,Crocker Amazon,"sanfrancisco/37.71359193,-122.4412364_3.jpg"
4,37.71359359,-122.4436024,0,sanfrancisco,Outer Mission,"sanfrancisco/37.71359359,-122.4436024_0.jpg"

### remove very small classes

#### number of image in each class

In [22]:
b.groupby('label').size()

label
Bayview                828
Bernal Heights         968
Castro-Upper Market    952
Chinatown              887
Crocker Amazon         980
Diamond Heights        856
Downtown               852
Excelsior              893
Financial District     856
Glen Park              984
Haight-Ashbury         908
Inner Richmond         940
Inner Sunset           884
Lakeshore              868
Marina                 871
Mission                909
Nob Hill               929
Noe Valley             968
North Beach            836
Ocean View             964
Outer Mission          916
Outer Richmond         952
Outer Sunset           924
Pacific Heights        972
Parkside               972
Potrero Hill           796
Presidio Heights       928
Russian Hill           924
Seacliff               472
South Of Market        868
Twin Peaks             780
Visitacion Valley      208
West Of Twin Peaks     936
Western Addition       936
dtype: int64

In [23]:
b_filtered = b[map(lambda ele: (ele!='Visitacion Valley' and ele!='Crocker Amazon'), b['label'])]
# b_filtered = b[map(lambda ele: (ele!='Oakland' and ele!='Fuller Park' and ele!='Grand Boulevard' and ele!='New City' and ele!='Brighton Park'), b['label'])]

In [24]:
b_filtered.groupby('label').size()

label
Bayview                828
Bernal Heights         968
Castro-Upper Market    952
Chinatown              887
Diamond Heights        856
Downtown               852
Excelsior              893
Financial District     856
Glen Park              984
Haight-Ashbury         908
Inner Richmond         940
Inner Sunset           884
Lakeshore              868
Marina                 871
Mission                909
Nob Hill               929
Noe Valley             968
North Beach            836
Ocean View             964
Outer Mission          916
Outer Richmond         952
Outer Sunset           924
Pacific Heights        972
Parkside               972
Potrero Hill           796
Presidio Heights       928
Russian Hill           924
Seacliff               472
South Of Market        868
Twin Peaks             780
West Of Twin Peaks     936
Western Addition       936
dtype: int64

In [25]:
b_filtered = b_filtered.reset_index()
del b_filtered['index']
b_filtered.to_csv(dataroot+'labels_dense_sanfrancisco_jpg.csv')

#### number of classes

In [26]:
len(b_filtered['label'].unique())

32

### below are trials to get coors

In [12]:
imgnames[578].replace('_',',').split(',')

['35.638226', '139.771862328', '2']

In [17]:
lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])
lat_lng_dir

array([['35.630726', '139.747854768', '0'],
       ['35.630726', '139.747854768', '1'],
       ['35.630726', '139.747854768', '2'],
       ...,
       ['35.737226', '139.766322122', '1'],
       ['35.737226', '139.766322122', '2'],
       ['35.737226', '139.766322122', '3']],
      dtype='|S13')

In [21]:
df = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
df['city'] = 'boston'
df.head()

         lat            lng dir    city
0  35.630726  139.747854768   0  boston
1  35.630726  139.747854768   1  boston
2  35.630726  139.747854768   2  boston
3  35.630726  139.747854768   3  boston
4  35.630726  139.749701504   0  boston

In [20]:
df.to_csv('C:/Users/lezhi/Dropbox/thesis/'+'cityname'+'.csv')