## code here

In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
rootdir = 'C:/Users/lezhi/Dropbox/thesis/img2/'
df = pd.DataFrame()

citynames = sorted([d for d in os.listdir(rootdir) if os.path.isdir(rootdir)])
for cityname in citynames:    ############################################# only testing 3 cities now
    citypath = os.path.join(rootdir, cityname)
    imgnames = sorted([f[:-4] for f in os.listdir(citypath) if os.path.isfile(os.path.join(citypath, f))])

    lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])

    df1 = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
    df1['city'] = cityname
    df = df.append(df1, ignore_index=True)

df.to_csv('C:/Users/lezhi/Dropbox/thesis/'+'allcoorsvalid'+'.csv')

### below are trials

In [12]:
imgnames[578].replace('_',',').split(',')

['35.638226', '139.771862328', '2']

In [17]:
lat_lng_dir = np.array([name.replace('_',',').split(',') for name in imgnames])
lat_lng_dir

array([['35.630726', '139.747854768', '0'],
       ['35.630726', '139.747854768', '1'],
       ['35.630726', '139.747854768', '2'],
       ...,
       ['35.737226', '139.766322122', '1'],
       ['35.737226', '139.766322122', '2'],
       ['35.737226', '139.766322122', '3']],
      dtype='|S13')

In [21]:
df = pd.DataFrame(lat_lng_dir, columns=['lat', 'lng', 'dir'])
df['city'] = 'boston'
df.head()

         lat            lng dir    city
0  35.630726  139.747854768   0  boston
1  35.630726  139.747854768   1  boston
2  35.630726  139.747854768   2  boston
3  35.630726  139.747854768   3  boston
4  35.630726  139.749701504   0  boston

In [20]:
df.to_csv('C:/Users/lezhi/Dropbox/thesis/'+'cityname'+'.csv')